<%= render 'layouts/home'%>
  <div class="right_col" role="main" style="min-height: 600px;">
    <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel" style="min-height: 600px;">
            <div class="x_title">
              <h3>Cleaner Profile</h3>
                 <div class="clearfix"></div>
            </div>
            <div class="x_panel title fixed_height_320 overflow_hidden">
              <div class="col-md-8 col-lg-8 col-sm-7">
                <blockquote>
                  <%=t('Cleaner.show')%>
                </blockquote>
              </div>
              <div class="col-md-4 col-sm-4 col-xs-5">
              <ul class="list-unstyled user_data">
                <li>
                  <i class="fa fa-user"></i> <%= @cleaner.first_name %> <%= @cleaner.last_name %>
                </li>
                <li>
                  <i class="fa fa-map-marker user-profile-icon"></i>  <%= @cleaner.city %>
                </li>
                <li>
                  <i class="fa fa-envelope"></i> <%= @cleaner.email %>
                </li>
                <li>
                  <i class="fa fa-phone"></i> <%= @cleaner.phone_number %>
                </li>
                <li>
                  <i class="fa fa-star"></i> <%= @cleaner.quality_score %>
                </li>
              </ul>
            </div> 
            <a class="btn btn-success" href="<%=edit_cleaner_path(@cleaner)%>"><i class="fa fa-edit m-right-xs"></i> Edit Profile</a>
            <a class="btn btn-dark" href="<%=customers_main_path%>"><i class="fa fa-rotate-left m-right-xs"></i> Back To Home</a>                
          </div>
        </div>
      </div>
    </div>

