<!DOCTYPE html>
<html lang="en">
  <body class="login">
    <div>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <form>
              <h1>Login Form</h1>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div>
                  <%= f.text_field :email, class: 'form-control', required: true, placeholder:"Email" %>
                </div>
 
                <div>
                  <%= f.text_field :password, type:"password", class: 'form-control', required: true, placeholder:"Password" %>
                </div>
       
                <div class= "action">
                  <a class="btn btn-default submit" href="<%=customers_main_path %>">Log in</a>
                  <a class="reset_pass" href="<%=new_password_path(resource_name)%>">Lost your password?</a>
                </div>
                <% end %>

                <div class="clearfix"></div>
                  <div class="separator">
                    <p class="change_link">New to site?
                      <a href=<%=new_registration_path(resource_name)%> class="to_register"> Create Account </a>
                    </p>
                    <div class="clearfix"></div>
                    <br>
                </div>
            </form>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
